.QuizQuestionnairePage {
  color: var(--textColorBlue);
  min-height: 100vh;
  font-size: clamp(1.2rem, 1.6vw, 30rem);
  padding: max(3em, 2.5%) max(2em, 10%);
  margin: 0 auto;
}

.QuizQuestionnairePage__question {
  font-weight: bold;
}

.QuizQuestionnairePage hr {
  margin-bottom: 2em;
  border: 0.01em solid var(--chosenOptionBackgroundColor);
}

.QuizQuestionnairePage__answers {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.QuizQuestionnairePage__answers button {
  background-color: transparent;
  padding: 0.2em 1em;
  font-size: clamp(0.9rem, 1.25vw, 25rem);
  border: 0.05em solid var(--textColorBlue);
}

.QuizQuestionnairePage .UtilityButton {
  display: block;
  margin: 0 auto;
}
